body{
    margin: 0%;
}
header{
    background: rgb(255, 255, 255);
    width: 100%;
    height: 75px;
}
.menu-div{
    color: rgb(102, 102, 102);
    width: 600px;
    margin-left: 150px;
}
#logoId{
    height: 25px;
    width: auto;
    margin-left: -490px;
    margin-top: 23px;
    
}
.menuText{
    cursor: pointer;
    margin-top: 26px;
    margin-left: 30px;
    float: left;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16.5px;
}
#mainImage{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
.electric{
    margin-top: -740px;
    margin-left: 64px;
    color: #fff;
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
}
.suvDna{
    margin-top: 15px;
    margin-left: 64px;
    font-size: 20px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
#explore{
    background: #fff;
    height: 55px;
    width: 250px;
    margin-top: 25px;
    margin-left: 64px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    cursor: pointer;
}
#explore:hover{
    background: rgb(214, 214, 214);
}
.second-block{
    margin-top: 562px;
    height: 1750px;
    width: 100%;
}
.second-menu{
    padding-top: 18px;
    margin-left: 64px;
    font-size: 16px;
    color: rgb(102, 102, 102);
    font-family: 'Ubuntu', sans-serif;
}
.body{
    float: left;
}
.models{
    margin-left: 105px;
    cursor: pointer;
}
#body{
    cursor: pointer;
}
#models{
    cursor: pointer;
}
.cars{
    margin-top: 20px;
    height: 150px;
    width: 80%;
    padding-left: 40px;
}
.car-box{
    float: left;
    cursor: pointer;
    margin-right: 30px;
    height: 150px;
    width: 200px;
}
.car-box:hover{
    filter: drop-shadow(5px 5px 5px);
}
.car-pic{
    position: relative;
    left: -10%;
}
.car-name{
    cursor: pointer;
    position: relative;
    text-align: center;
    margin-top: -9px;
    font-family: 'Ubuntu', sans-serif;
}
.car-img{
    height: 100px;
}
.progress-pic{
    float: left;
    height: 550px;
    width: 50%;
    margin-top: 300px;
}
#progress-img{
    height: 550px;
    margin-left: 210px;
}
.progress-right{
    float: left;
    height: 550px;
    width: 50%;
    margin-top: 300px;
}
.progress-label{
    margin-top: 115px;
    margin-left: 55px;
    color:rgb(0, 0, 0);
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
}
.learn-btn{
    margin-left: 55px;
    height: 50px;
    margin-top: 50px;
}
.learn-button{
    width: 150px;
    height: 50px;
    background: black;
    border: none;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    cursor: pointer;
}
.learn-button:hover{
    background: rgb(79, 79, 79);
}
.apr-month{
    height: 300px;
    margin-top: 1100px;
    width: 1519px;
}
.apr-label{
    height: 80px;
    width: 1000px;
    margin-left: 17%;
}
.apr-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 65px;
    margin-left: 80px;
}
.apr-discr{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    margin-left: 40px;
    margin-top: 30px;
}
.apr-btn{
    margin-top: 100px;
    float: left;
    width: 100%;
    height: 55px;
    border: none;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
}
.apr-button1{
    margin-left: 490px;
    color: #fff;
    background: black;
    width: 235px;
    height: 55px;
    border: none;
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}
.apr-button1:hover{
    background: rgb(79, 79, 79);
}
.apr-button2{
    margin-left: 12px;
    background: #fff;
    cursor: pointer;
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
    width: 235px;
    height: 55px;
    border-color: black;
    border-width: .5px;
}
.apr-button2:hover{
    color: rgb(79, 79, 79);
    border-color: rgb(133, 133, 133);
}
.third-block{

    height: 1464px;
    width: 100%;
    background-image: url("/Audi/images/3840x4000_EO1I4675-copy.Final.jpg");
}
.spc-etron{
    width: 600px;
    height: 350px;
}
.etron{
    margin-left: 65px;
    background: rgb(255, 255, 255);
    height: 400px;
    width: 630px;
}
.etron-hd{
    padding-top: 60px;
    margin-left: 55px;
    width: 550px;
    height: 110px;
}
.etron-head{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
}
.etron-discr{
    height: 100px;
    width: 550px;
    margin-left: 55px;
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
}
.explore-btn{
    width: 550px;
    height: 66px;
    margin-left: 55px;
}
.explore-button{
    cursor: pointer;
    border: none;
    width: 245px;
    height: 66px;
    background: black;
    color: #fff;
    font-family: 'Ubuntu' , sans-serif;
    font-size: 17px;
}
.explore-button:hover{
    background: rgb(79, 79, 79);
}
.q5-button{
    width: 300px;
    height: 50px;
    background: black;
    border: none;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    cursor: pointer;
}
.q5-button:hover{
    background: rgb(79, 79, 79);
}
.last-block{
    margin-top: 1150px;
    width: 100%;
    height: 460px;
}
.audi-waiting{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    margin-left: 70px;
    width: 50%;
    height: 100px;
}
.gallery{
    height: 300px;
    width: 1380px;
    margin-left: 70px;
}
.mechanic{
    margin-right: 7px;
    float: left;
    height: 300px;
    width: 453px;
}
.mechanic-img{
    cursor: pointer;
    height: auto;
    width: 453px;
}
.gallery-caption{
    margin-top: 10px;
    font-family: 'Ubuntu' ,sans-serif;
    font-size: 16px;
    cursor: pointer;
}
.gallery-caption:hover{
    color: rgb(89, 89, 89);
}
.bottom{
    background: black;
    width: 100%;
    height: 750px;
}
.backToTop{
    height: 110px;
    width: 100%;
}
.back-to{
    margin-left: 1355px;
    cursor: pointer;
    height: 90px;
    width: 80px;
    color: white;
    font-family: 'Ubuntu' ,sans-serif;
    font-size: 15px;
    cursor: pointer;
}
.back-tot{
    width: 100%;
    height: 20px;
}
.table{
    margin-left: 100px;
    width: 90%;
    height: 390px;
}
.head-gap{
    background: #fff;
    height: 15px;
}
.heads{
    cursor: pointer;
    float: left;
    height: 30px;
    width: 100%;
    color: #fff;
    font-size: 23px;
    font-family: 'Montserrat' ,sans-serif;
}
.list{
    float: left;
    width: 20%;
    height: 250px;
}
.list-gap{
    width: 100%;
    height: 60px;
}
.list-content{
    margin-top: -16px;
    width: 100%;
    height: 349px;
}
.list-type{
    margin-left: -40px;
    list-style-type: none;
    line-height: 260%;
    font-family: 'Montserrat',sans-serif ;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
}
.social-media{
    width: 100%;
    height: 29px;
}
.margin{
    height: 25px;
    width: 1230px;
    float: left;
}
.media-icon{
    margin-left: 5px;
    float: left;
    height: 25px;
    width: 35px;
    cursor: pointer;
}
.rights{
    font-family: 'Montserrat',sans-serif;
    color: #fff;
    font-size: 12px;
    margin-left: 100px;
}
.tableb{
    margin-left: 30px;
    border-collapse: separate;
    border-spacing: 70px;
    margin-top: -50px;
}
.cells{
    font-family: 'Montserrat',sans-serif;
    color: #fff;
    font-size: 12px;
}
.tabled{
    cursor: pointer;
}
.tabled:hover{
    color: rgb(186, 186, 186);
}
